// FOOTER

.footer {
  padding: 50px 0px;
  background-color: $footer-color;

  &__title {
    display: block;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    color: $title-light;

    margin-bottom: 20px;
  }
}

.footer-meta {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: $logo-light-color;
}

// FOOTER CONTACTS

.footer-contacts {
  margin-right: 70px;
}

.address-list__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.address__text {
  color: $title-light;
}

.address-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $text-opacity;
}

// FOOTER SOCIAL

.footer-social {
  margin-right: 93px;
}

// FOOTER FORM

.footer-form {
  flex-grow: 1;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group__input {
  height: 50px;
  padding: 15px 16px;

  border-color: $input-border-color;
  box-shadow: $button-dark-shadow;

  color: $text-light;

  margin-right: 12px;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: $input-placeholder-color;
  }
}

.form-group__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group__icon {
  margin-left: 10px;
}
